@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Catamaran:wght@600&family=Montserrat:wght@600&display=swap");
@import url("./style/nav/style.css");
:root {
  --preto:#000;
  --fundo:#14162d;
  --fundoSecundario:#1f223e;
  --fundoEscuro:#0d0e1a;
  --vermelho:red;
  --laranja:orange;
  --branco:#fff;
  --brancoTransparente:#ffffffdd;
}

.swiper {
  width: 100%;
  padding: 0 2em;
  height: 100vh;
}

input[type=time]::-webkit-clear-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

input[type=time]::-moz-clear-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

input[type=time]::-ms-clear-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

button[disabled] {
  opacity: 0.6;
  background: var(--vermelho);
}

body {
  background: var(--fundo);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  margin: 1em 0;
  width: 500px;
}

.content h2 {
  color: var(--brancoTransparente);
  font-size: 35px;
  letter-spacing: 10px;
  font-family: Catamaran, sans-serif;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .content {
    transform: translate(-50);
  }
  .content h2 {
    text-align: center;
  }
}
.relogio {
  margin: 3em 0;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: -10px -10px 2.5em 10px var(--fundoSecundario), 20px 10px 2.5em 10px var(--fundoEscuro);
  border-radius: 50%;
  overflow: hidden;
}

.relogio .display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-position: center center;
  box-shadow: -10px -10px 2.5em 10px var(--fundoSecundario), 20px 10px 2.5em 10px var(--fundoEscuro);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.numero {
  position: relative;
  color: var(--brancoTransparente);
  font-size: 100px;
  font-family: "Montserrat", sans-serif;
  filter: drop-shadow(0 0 10px var(--preto));
  top: 20%;
}

.numero input[type=time] {
  text-align: center;
  border: none;
  outline: none;
  color: var(--branco);
  background: none;
  outline: none;
  border: none;
}

.numero input[type=time]::-ms-clear {
  display: none;
}

.numero::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--branco);
  width: 100px;
  height: 5px;
}

.numero::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  background: var(--branco);
  width: 100px;
  height: 5px;
}

.info {
  color: var(--brancoTransparente);
  font-size: 35px;
  letter-spacing: 10px;
  font-family: Barlow, sans-serif;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  width: 200px;
}

.info--pausa {
  border: solid 2px var(--preto);
}

.posicao {
  align-items: center;
  background: var(--fundo);
  box-shadow: 0 0 5px var(--preto);
  border-radius: 50%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  left: 50%;
  transform: translatex(-50%);
  padding: 2em;
  margin: 0 auto;
  z-index: 2;
  height: 400px;
  width: 400px;
}

.progresso {
  transition: 0.2s;
  background: linear-gradient(var(--vermelho), var(--laranja));
  filter: drop-shadow(0 0 50px var(--vermelho));
  width: var(--v);
  max-width: 500px;
  min-width: 0px;
  height: 100%;
  border-radius: 50%;
}

.content__start {
  color: var(--brancoTransparente);
  font-size: 35px;
  letter-spacing: 10px;
  font-family: Barlow, sans-serif;
  text-align: center;
  border: none;
  outline: none;
  background: var(--fundo);
  box-shadow: 0 0 10px 5px var(--fundoEscuro);
  color: var(--branco);
  letter-spacing: normal;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 2.2em;
  width: 30%;
}

@media screen and (max-width: 800px) {
  .relogio, .display {
    position: relative;
    max-width: 300px;
    max-height: 300px;
  }
  .posicao {
    max-width: 230px;
    max-height: 230px;
  }
  .numero {
    font-size: 44px;
  }
}/*# sourceMappingURL=style.css.map */